In [1]:
def my_self():
    print("my name is xyz."
          "i am a boy."
          "i am 19 years old")

In [2]:
my_self()

my name is xyz.i am a boy.i am 19 years old

In [10]:
class intro:
    def self():
        print("my name is xyz."
              "i am a boy."
              "i am 19 years old")

In [11]:
my_self()

my name is xyz.i am a boy.i am 19 years old

In [12]:
obj=intro
obj.self()

my name is xyz.i am a boy.i am 19 years old

In [36]:
a=int(input("ENter num1"))
b= int(input("Enter num2"))
class maths:
    def add():
        print(a+b)
    def sub():
        print(a-b)
    def multiply():
        print(a*b)
    def divide():
        print(a/b)
obj=maths

ENter num1 51
Enter num2 9

In [37]:
obj.sub()

42

In [38]:
obj.add()

60

In [39]:
obj.multiply()

459

In [40]:
obj.divide()

5.666666666666667

In [1]:
class a1:
    def a01():
        print("welcome to the code with pankaj")

In [4]:
obj=a1
obj.a01()

welcome to the code with pankaj

In [11]:
def add():
    print(((45+45+10)*2)/10)

In [12]:
add()

20.0

In [16]:
def table(a):
    print(a,"x","1","=",a*1)
    print(a,"x","5","=",a*5)

In [17]:
table(2)

2 x 1 = 2
2 x 5 = 10

In [18]:
table(5)

5 x 1 = 5
5 x 5 = 25

In [20]:
class bank:
    def amount_info(amount):
        print(amount)
    def info():
        print("hdfc")

In [21]:
b=bank
b.amount_info(5000)

5000

In [22]:
b.info()

hdfc

In [5]:
class bank:
    def bank(self):
        print("Bank Name : IDFC")
    def amount(self,amount):
        self.amount=amount
        print("amount:-",amount)
    def deposit(self,deposit):
        print("deposit:-",deposit)
        update_amount= self.amount+ deposit
        print("updated balance:-",update_amount)
        self.amount=update_amount
    def withdrawal(self,amount):
        balance_amount=self.amount-amount
        print("balance amount:",balance_amount)
        self.amount=balance_amount
    def interest(self,rate):
        int_amount=self.amount*rate/100
        print("interest amount:-",int_amount)
        amt=self.amount+int_amount
        self.amount=amt
        print("interested amount:",amt)
        
    def customer_info(self,name):
        print("customer name:",name)
    def balance(self):
        
        print("balance amount:",self.amount)

In [6]:
b=bank()

In [7]:
b.bank()
b.amount(10000)
b.deposit(3200)
b.withdrawal(2000)
b.interest(10)
b.customer_info("Aman")
b.balance()

Bank Name : IDFC
amount:- 10000
deposit:- 3200
updated balance:- 13200
balance amount: 11200
interest amount:- 1120.0
interested amount: 12320.0
customer name: Aman
balance amount: 12320.0