In [1]:
def greet():
    print("welcome to anaconda")
    print("this is very complex")
greet()

welcome to anaconda
this is very complex

In [2]:
def addition(num1,num2):
    result=num1+num2
    print("result is:",result)
addition(252,25)

result is: 277

In [4]:
def m():
    print("qwertyuiopasdfghjklzxcvbnm,ertyui")
m()
addition(45,54)

qwertyuiopasdfghjklzxcvbnm,ertyui
result is: 99

In [7]:
def subtract(number1,number2):
    sub=number1-number2
    print("result is:",sub)
subtract(854,85)

result is: 769

In [8]:
addition(999,1)
subtract(999,1)

result is: 1000
result is: 998

In [11]:
def add(number,number1):
    add=number +number1
    print("add:",add)

In [12]:
add(63,54)

add: 117

In [13]:
def bill(price,gst):
    tax_amount=price*gst/100
    total=price+tax_amount
    print("------invoice bill-------")
    print("price:",price)
    print("gst:",gst)
    print("tax amount:",tax_amount)
    print("total:",total)

In [14]:
bill(1920,18)

------invoice bill-------
price: 1920
gst: 18
tax amount: 345.6
total: 2265.6

In [15]:
bill(445487,9)
bill(87285,18)

------invoice bill-------
price: 445487
gst: 9
tax amount: 40093.83
total: 485580.83
------invoice bill-------
price: 87285
gst: 18
tax amount: 15711.3
total: 102996.3

In [16]:
def get_number():
    return 10*8
number=get_number()
print("number is :",number)

number is : 80

In [18]:
def mutliply(number1,num2):
    return number1*num2
result=mutliply(51,10)
print("result os multiplication is:",result)

result os multiplication is: 510

In [34]:
def MRP(price,tax):
    tax_amount=price*tax/100
    total=price+tax_amount
    print("-----------invoice bill------------")
    print("price:",price)
    print("tax:",tax)
    print("tax amount:",tax_amount)
    return total
total_price=MRP(1200,18)
print("total price before discount is:",total_price)
total_price-= total_price*0.20
print("total price after discount is:",total_price)

MRP(1800,9)

-----------invoice bill------------
price: 1200
tax: 18
tax amount: 216.0
total price before discount is: 1416.0
total price after discount is: 1132.8
-----------invoice bill------------
price: 1800
tax: 9
tax amount: 162.0

1962.0