In [ ]:
data=10
print(data)
a="welcome"
print(a)

10
welcome

In [29]:
a={1,12,2,2,2,1}
b=44.5544
print(type(a))
print(type(b))
c=[12,14,69465,14984,54]
print(type(c))
data="iughfcu"
print(type(data))
date=("djoiwjdf")
print(type(date))
r=(1,2,1,21,63,14)
print(type(r))
info={"name":"xyz"}
print(info)
print(type(info))

<class 'set'>
<class 'float'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'tuple'>
{'name': 'xyz'}
<class 'dict'>

In [32]:
#taking input from users
#input()
name= input("enter your name")
age= input("enter your age")
location=input("enter your location")
print("your name is:",name)
print("your age is:",age)
print("your location is:",location)

your name is: raj
your age is: 19
your location is: virar

In [ ]:
#datatype conversion
#int()
#str()
#float()
name=input("enter name")
eng=int(input("enter eng marks"))
maths=int(input("enter maths marks"))
histroy=int(input("enter histroy marks"))
total= eng + maths + histroy
print("name of the student is:",name)
print("english:",eng)
print("maths:",maths)
print("histroy:",histroy)
print("total marks is:",total)

name of the student is: raj
english: 85
maths: 78
histroy: 74
total marks is: 237

In [45]:
name=input("enter name")
eng=int(input("enter eng marks"))
maths=int(input("enter maths marks"))
histroy=int(input("enter histroy marks"))
total= eng + maths + histroy
print("name of the student is:",name)
print("english:",eng)
print("maths:",maths)
print("histroy:",histroy)
print("total marks is:",total)

name of the student is: atlaf
english: 85
maths: 87
histroy: 98
total marks is: 270

In [52]:
name=input("enter employee name")
basic=int(input("enter basic "))
da=int(input("enter da "))
health_allowance=int(input("enter health allowance"))
pf=int(input("enter pf"))
total= basic + da + health_allowance - pf
print("name of the employe is:",name)
print("basic:",basic)
print("da:",da)
print("pf:",pf)
print("health allowance:",health_allowance)
print("total salary is:",total)

name of the employe is: altaf shah
basic: 10000
da: 2000
pf: 3000
health allowance: 1000
total salary is: 10000

In [ ]:
name=input("enter employee name")
basic=int(input("enter basic "))
da=int(input("enter da "))
health_allowance=int(input("enter health allowance"))
pf=int(input("enter pf"))
total= basic + da + health_allowance 
print("name of the employe is:",name)
print("basic:",basic)
print("da:",da)
print("health allowance:",health_allowance)
print("total salary is:",total)
print("pf:",pf)
salary_taken_home= basic + da + health_allowance -pf
print( "salary_taken_home:",salary_taken_home)

name of the employe is: ashwin
basic: 10000
da: 2000
health allowance: 1000
total salary is: 13000
pf: 3000
salary_taken_home: 10000

In [4]:
name=input("enter employee name")
emp_id=int(input("enter emp id"))
date_of_join=(input("enter date of join"))
basic_sal=int(input("enter basic salary"))
da=int(input("enter da"))
health_allowance=int(input("enter health allowance"))
gross_sal= basic_sal + da +health_allowance
pf=int(input("enter pf"))
net_salary=basic_sal + da +health_allowance - pf
print("employee name is:",name)
print("employee id:",emp_id)
print("date of join:",date_of_join)
print("basic sal:",basic_sal)
print("da:",da)
print("health_allowance is:",health_allowance)
print("gross_sal is:",gross_sal)
print("pf:",pf)
print("net salary:",net_salary)

employee name is: aalam
employee id: 102
date of join: 21/02/2022
basic sal: 1200
da: 12514
health_allowance is: 52612
gross_sal is: 66326
pf: 521
net salary: 65805

In [5]:
name=input("enter employee name")
emp_id=int(input("enter emp id"))
date_of_join=(input("enter date of join"))
basic_sal=int(input("enter basic salary"))
da=int(input("enter da"))
health_allowance=int(input("enter health allowance"))
gross_sal= basic_sal + da +health_allowance
pf=int(input("enter pf"))
net_salary=basic_sal + da +health_allowance - pf
print("employee name is:",name)
print("employee id:",emp_id)
print("date of join:",date_of_join)
print("basic sal:",basic_sal)
print("da:",da)
print("health_allowance is:",health_allowance)
print("gross_sal is:",gross_sal)
print("pf:",pf)
print("net salary:",net_salary)

employee name is: ashwin
employee id: 11
date of join: 12/05/2005
basic sal: 122000
da: 20000
health_allowance is: 10000
gross_sal is: 152000
pf: 5300
net salary: 146700

In [9]:
name=input("enter student name")
english=int(input(" english marks"))
maths=int(input(" maths marks"))
science=int(input(" science marks"))
geography=int(input("geographymarks"))
total=english+maths+science+geography
print("your name is:",name)
print("english:",english)
print("maths:",maths)
print("science:",science)
print("geography:",geography)
print("total marks:",total)

your name is: ashwin
english: 50
maths: 74
science: 78
geography: 78
total marks: 280